/* !TABLE OF CONTENT  */
/* - - - - - - - - 
1. GENERAL 
2. NAVBAR
3. BANNER
4. ABOUT 
5. CARDS
6. TESTIMINOL
7. LAST GIRL
8. 
- - - - - - - - -  */

/* !<--------1. GENERAL --------> */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--bg-lightyellow);
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  background-attachment: initial;
  overflow-x: hidden;
}
:root {
  /* ?Background color */
  --bg-yellow: #f9b800;
  --bg-lightyellow: #fffaeb;
  --bg-gray: #ecf0f9;

  /* *Text color  */
  --text-black: rgba(38, 38, 38, 1);
  --text-white: #fff;
  --text-gray: #576b81;
}

/* <--------CUSTOM CSS --------> */
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: var(--bg-gray);
}
::-webkit-scrollbar-thumb {
  background: var(--bg-yellow);
}
section {
  padding: 10rem 0;
}
h1 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 8rem;
  line-height: 9rem;
  color: var(--text-black);
}
h2 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.7rem;
  color: var(--text-black);
}
h3 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  text-transform: uppercase;
  color: var(--bg-yellow);
}
h4 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--text-black);
}
h5 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.7rem;
  color: var(--text-black);
}
h6 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 350;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-transform: capitalize;
}
p {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  color: var(--text-black);
}
span {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--text-black);
}

.anker-tag {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.7rem;
  color: var(--text-black);
  background-color: #fff;
  border-radius: 30px;
}

/* <--------BUTTONS --------> */
.primary-btn {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  padding: 1rem 5rem;
  border-radius: 100px;
  border: none;
  color: var(--text-black);
  background-color: var(--bg-yellow);
}
.primary-btn:hover {
  border: 0.4rem solid var(--text-black);
  box-shadow: 0.7rem 0.7rem 1px var(--text-black);
}

.secondary-btn {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  padding: 1rem 5rem;
  border-radius: 100px;
  border: none;
  color: var(--text-white);
  background-color: var(--text-black);
}
.secondary-btn:hover {
  border: 0.3rem solid var(--text-white);
  box-shadow: 0.7rem 0.7rem 1px var(--text-white);
}

.third-btn {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  padding: 1rem 5rem;
  border-radius: 100px;
  border: none;
  color: var(--text-black);
  background-color: var(--text-white);
}
.third-btn:hover {
  border: 0.3rem solid var(--bg-yellow);
  box-shadow: 0.7rem 0.7rem 1px var(--bg-yellow);
}
/* !<--------2. NAVBAR --------> */
#navbar {
  background-color: var(--bg-lightyellow);
}
.pak-img {
  width: 4rem;
}

/* !<--------3. BANNER --------> */
#banner {
  background-image: url(Assets/Vector.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: initial;
  overflow-x: hidden;
}

/* !<--------4. ABOUT --------> */
.about-wrapper {
  background-color: var(--bg-yellow);
  border-radius: 50px;
}
#about {
  background-image: url(Assets/Vector1.png);
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: initial;
  overflow-x: hidden;
}

/* !<--------5. CARDS --------> */
#cards {
  background-image: url(Assets/Vector.png);
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: initial;
  overflow-x: hidden;
}
.cards-wrapper {
  background-color: var(--text-black);
  border-radius: 50px;
}
.card-yellow {
  background-color: var(--bg-yellow);
}

/* !<--------6. TESTIMINOL --------> */
.testimnol-wrapper {
  background-color: var(--text-white);
  border-radius: 50px;
}
.img-testimnol {
  width: 30rem;
}

#testimnol {
  background-image: url(Assets/Vector1.png);
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: initial;
  overflow-x: hidden;
}

/* !<--------7. LAST GIRL --------> */
.lastgirl-wrapper {
  background-color: var(--text-white);
  border-radius: 50px;
}

.anker-2 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.7rem;
  color: var(--text-black);
  background-color: var(--bg-lightyellow);
  border-radius: 30px;
}
#last-girl {
  background-image: url(Assets/Vector.png);
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: initial;
  overflow-x: hidden;
}
