h1 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 8rem;
  line-height: 9rem;
  color: var(--text-black);
}
h2 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.7rem;
  color: var(--text-black);
}
h3 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  text-transform: uppercase;
  color: var(--bg-yellow);
}
h4 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--text-black);
}
h5 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.7rem;
  color: var(--text-black);
}
h6 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 350;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-transform: capitalize;
}
p {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  color: var(--text-black);
}
span {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--text-black);
}

.anker-tag {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.7rem;
  color: var(--text-black);
  background-color: #fff;
  border-radius: 30px;
}
